node_modules
.next
.git
.gitignore
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dockerignore
Dockerfile
cloudbuild.yaml
__tests__
coverage
README.md
eslint-report.txt
fashionlist.md
gmail_fashion_filters.xml
fashion_feed_sources.opml
